.thanks {
    background-color: hsl(216, 12%, 8%);
    display: none;
    place-content: center;
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.res-master-div {
    width: 20rem;
    height: 23.5rem;
    border-radius: 5%;
    background-color: hsl(213, 19%, 18%);
}

.res-img-div {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.rating-div {
    width: 12rem;
    height: 2rem;
    background-color: hsl(214, 19%, 22%);
    border-radius: 50px;
    margin: auto;
    position: relative;
}

.rating-para {
    padding-top: 0.4rem;
    color:hsl(25, 97%, 53%);
}

.res-heading-div {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.res-para-div {
    margin-left: 1rem;
    width: 18rem;
    color: hsl(216, 12%, 54%);
    font-size: 14px;
}
